<%- include('../_partial/_header'); -%>

<div class="row">
    <div class="col-md-6">
        <h1>Edit Business Contact: <%= post.title %> </h1>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <form action="/posts/update" method="POST">
            <div class="form-group">

                <label for="inputTitle">Name </label>
                <input type="text" class="form-control" placeholder="Title" id="inputTitle" name="title"
                    value="<%= post.title %>" 
                />
            </div>

            <div class="form-group">
                <label for="inputContent">Number</label>
                <textarea class="form-control" rows="3" id="inputContent" placeholder="Content" name="content"><%= post.content %></textarea>
            </div>

            <div class="form-group">
                <label for="inputContent">Email Address</label>
                <textarea class="form-control" rows="3" id="inputContent" placeholder="Content1" name="content1"><%= post.content1 %></textarea>
            </div>

            <input type="hidden" id="postid" name="postid" value="<%= post._id %>" />

            <div class="form-group">
                <button type="submit" class="btn btn-default" href="#" role="button">Update</button>
                <button type="cancel" class="btn btn-default" href="#" role="button"><a href="/posts">Cancel</a></button>
                <button type="cancer" class="btn btn-default" href="#" role="button"> <a href="/posts/delete/<%= post._id %>" >Delete</p></button>
            </div>

            
    </div>

    </form>
</div>


<%- include ('../_partial/_footer'); -%>